<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Organisation</title>

    <link data-th-href="@{/webjars/bulma/0.6.0/css/bulma.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <script data-th-src="@{/webjars/timeago.js/3.0.0/dist/timeago.js}"></script>

</head>
<body>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <i class="fa fa-github-square" aria-hidden="true"></i>&nbsp;Organisations
            </h1>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h1 class="title">Organisations</h1>

        <a href="/organisation/add">Click to Add Organisation </a><br><br>
        <a href="/organisation">Navigate to All Organisations </a><br><br>
        <tbody>

            <tr th:each="organisation:${organisations}">
                <td>
                    <a th:href="@{/organisation/{id}(id=${organisation.id.asString()})}">
                        <span th:text="${organisation.name}"></span>
                    </a>
                    <div th:if ="${#lists.size(organisations) == 1}">
                        <a th:href="@{/project/add/{name}(name=${organisation.name})}">
                            <span>Add Project</span>
                        </a>
                    </div>
                </td>
                <br>
            </tr>
        </tbody>
    </div>

</section>

<section data-th-each="entry : ${entries}" class="section">
    <div class="container">
        <h1 class="title">[[${entry.project.orgName}]] / [[${entry.project.repoName}]]</h1>
        <table class="table is-hoverable is-fullwidth">
            <thead>
            <th>Actor</th>
            <th>Action</th>
            <th>Issue title</th>
            <th>Time</th>
            </thead>
            <tbody>
            <tr data-th-each="event : ${entry.events}">
                <td><a data-th-href="${event.actor.htmlUrl}">[[${event.actor.login}]]</a></td>
                <td><code>[[${event.type}]]</code></td>
                <td><span data-th-if="${event.issue}"><a
                        data-th-href="${event.issue.htmlUrl}">[[${event.issue.title}]]</a></span></td>
                <td>
                    <time data-th-attr="datetime=${event.creationTime}">[[${event.creationTime}]]</time>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<script>
    var timeagoInstance = timeago();
    var nodes = document.querySelectorAll('time');
    timeagoInstance.render(nodes, 'en_US');
</script>

</body>
</html>