<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Project</title>
</head>
<body>
<form id="user-form"
      th:object="${github_project}"
      th:action="@{/project/create}" method="post">
    <h1>Create Project</h1>

    <div class="form-group">
        <label for="repoName">Repo Name</label> <br><br>
        <input type="text" field="*{repoName}" class="form-control" name="repoName" id="repoName" aria-describedby="emailHelp" placeholder="Enter name">
        <br>

        <label for="orgName">Org Name</label> <br><br>
        <input type="text" field="*{orgName}" th:value="${orgName}" class="form-control" name="orgName" id="orgName" aria-describedby="emailHelp" placeholder="Enter name">
        <br>

        <input type="submit" value="Submit">
    </div>

</form>
</body>
</html>